@charset "utf-8";

/* CSS Document */
body > *{
	font-family: font-family: Helvetica, Arial, sans-serif;
	margin:0px;
	padding:0px;
	border:0px;
}

.scroller {
    top:0px;
    left:0px;
    position: absolute;
    right: 0px;
    bottom:0px;
}

.ui-corner-all {
    border-radius : none;
}

.ui-scroller-inner{    
    margin-top: 0px;
}

.ui-body-c, .ui-overlay-c {
    text-shadow:none;
}

/************ header ***************/
.ui-header {
    height:40px;
    background:url("img/top_bar_background.png") no-repeat;
    background-size:100% 100%;
    height:40px;
    widthL100%;
}
/**********************Login Page**********************/

#loginPage {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	bottom:0px;
	background:url("img/login_bk.png") no-repeat;
	background-size:100% 100%;
}

#loginPage #logo_box {
    background:url("img/logo.png") no-repeat;
    background-size:100% 100%;
    width:175px;
    height:155px;
    margin-top:10px;
}

#loginPage #login_box {
    width:80%;
    margin-top:10px;
}

#loginPage #user {
    background:url("img/login_user_bk.png") no-repeat;
    background-size:100% 100%;
    font-size: 24px;
    height: 45px;
    padding-left: 35px;
    width: 100%;
    border-radius:none;
    border:none;
    font-size:1em;
    color:#797979;
}

#loginPage #pass {
    background:url("img/login_pass_bk.png") no-repeat;
    background-size:100% 100%;
    font-size: 24px;
    height: 45px;
    padding-left: 35px;
    width: 100%;
    border-radius:none;
    border:none;
    font-size:1em;
    color:#797979;
}

#loginPage #login_btn {
    background:url("img/login_btn.png") no-repeat;
    background-size:100% 100%;
    height: 45px;
    width: 100%;
    margin-top:10px;
}

#loginPage #fotget_btn {
    width:80%;
    text-alignment:center;
    margin-top:10px;
    color:#FFFFFF;
    font-size:0.8em;
}

#loginPage #seperator {
    background:url("img/login_of.png") no-repeat;
    background-size:100% 100%;
    height: 20px;
    width:70%;
    margin-top:15px;
}

#loginPage #new_account_btn {
    background:url("img/new_account_btn.png") no-repeat;
    background-size:100% 100%;
    width:65%;
    margin-top:15px;
    height:45px;
}

/**********************Forget Password Page**********************/

#forgetPassPage {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	bottom:0px;
	background:url("img/login_bk.png") no-repeat;
	background-size:100% 100%;
}

#forgetPassPage #logo_box {
    background:url("img/logo.png") no-repeat;
    background-size:100% 100%;
    width:175px;
    height:155px;
    margin-top:10px;
}

#forgetPassPage #forget_box {
    width:80%;
    margin-top:10px;
}

#forgetPassPage #user {
    background:url("img/login_user_bk.png") no-repeat;
    background-size:100% 100%;
    font-size: 24px;
    height: 45px;
    padding-left: 35px;
    width: 100%;
    border-radius:none;
    border:none;
    font-size:1em;
    color:#797979;
}


#forgetPassPage #seperator {
    background:url("img/login_of.png") no-repeat;
    background-size:100% 100%;
    height: 20px;
    width:70%;
    margin-top:10px;
}

#forgetPassPage #email {
    background:url("img/login_email_bk.png") no-repeat;
    background-size:100% 100%;
    font-size: 24px;
    height: 45px;
    padding-left: 35px;
    width: 100%;
    border-radius:none;
    border:none;
    font-size:1em;
    color:#797979;
    margin-top:10px;
}

#forgetPassPage #new_pass_box {
    width:96%;
    margin-top:20px;
    background:url("img/send_pass_box.png") no-repeat;
    background-size:100% 100%;
    padding:2%;
    display: inline-block;
}

#forgetPassPage #send_pass_btn {
    background:url("img/send_pass_btn.png") no-repeat;
    background-size:100% 100%;
    height: 45px;
    width: 79%;
    float:left;
}

#forgetPassPage #back_btn {
    background:url("img/back_btn.png") no-repeat;
    background-size:100% 100%;
    height: 45px;
    width: 19%;
    float:right;
}

/**********************Register Page**********************/

#registerPage {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	bottom:0px;
	background:url("img/login_bk.png") no-repeat;
	background-size:100% 100%;
}

#registerPage #logo_box {
    background:url("img/logo.png") no-repeat;
    background-size:100% 100%;
    width:140px;
    height:110px;
    margin-top:10px;
}

#registerPage #register_box {
    width:80%;
    margin-top:10px;
}

#registerPage #user {
    background:url("img/login_user_bk.png") no-repeat;
    background-size:100% 100%;
    font-size: 24px;
    height: 45px;
    padding-left: 35px;
    width: 100%;
    border-radius:none;
    border:none;
    font-size:1em;
    color:#797979;
    margin-top:10px;
}

#registerPage #pass {
    background:url("img/login_pass_bk.png") no-repeat;
    background-size:100% 100%;
    font-size: 24px;
    height: 45px;
    padding-left: 35px;
    width: 100%;
    border-radius:none;
    border:none;
    font-size:1em;
    color:#797979;
    margin-top:10px;
}

#registerPage #email {
    background:url("img/login_email_bk.png") no-repeat;
    background-size:100% 100%;
    font-size: 24px;
    height: 45px;
    padding-left: 35px;
    width: 100%;
    border-radius:none;
    border:none;
    font-size:1em;
    color:#797979;
    margin-top:10px;
}

#registerPage #gsm_number {
    background:url("img/login_gsm_bk.png") no-repeat;
    background-size:100% 100%;
    font-size: 24px;
    height: 45px;
    padding-left: 35px;
    width: 100%;
    border-radius:none;
    border:none;
    font-size:1em;
    color:#797979;
    margin-top:10px;
}

#registerPage #notice_btn {
    color:#FFFFFF;
    font-size:0.8em;
    width:100%;
    margin-top:10px;
}

#registerPage #submit_account_box {
    width:96%;
    margin-top:15px;
    background:url("img/send_pass_box.png") no-repeat;
    background-size:100% 100%;
    padding:2%;
    display: inline-block;
}

#registerPage #send_account_btn {
    background:url("img/make_account_btn.png") no-repeat;
    background-size:100% 100%;
    height: 45px;
    width: 79%;
    float:left;
}

#registerPage #back_btn {
    background:url("img/back_btn.png") no-repeat;
    background-size:100% 100%;
    height: 45px;
    width: 19%;
    float:right;
}


/**********************Phone Number Confirm Page**********************/

#phonenumConfirmPage {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	bottom:0px;
	background:url("img/login_bk.png") no-repeat;
	background-size:100% 100%;
}

#phonenumConfirmPage #logo_box {
    background:url("img/logo.png") no-repeat;
    background-size:100% 100%;
    width:165px;
    height:165px;
    margin-top:10px;
}

#phonenumConfirmPage #confirm_box {
    width:80%;
    margin-top:10px;
}

#phonenumConfirmPage #gsm_number {
    background:url("img/login_gsm_bk.png") no-repeat;
    background-size:100% 100%;
    font-size: 24px;
    height: 45px;
    padding-left: 35px;
    width: 100%;
    border-radius:none;
    border:none;
    font-size:1em;
    color:#797979;
    margin-top:20px;
}


#phonenumConfirmPage #submit_account_box {
    width:96%;
    margin-top:15px;
    background:url("img/send_pass_box.png") no-repeat;
    background-size:100% 100%;
    padding:2%;
    display: inline-block;
}

#phonenumConfirmPage #send_account_btn {
    background:url("img/make_account_btn.png") no-repeat;
    background-size:100% 100%;
    height: 45px;
    width: 79%;
    float:left;
}

#phonenumConfirmPage #back_btn {
    background:url("img/back_btn.png") no-repeat;
    background-size:100% 100%;
    height: 45px;
    width: 19%;
    float:right;
}

/**********************Menu Page**********************/

#menuPage {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	bottom:0px;
	background:url("img/login_bk.png") no-repeat;
	background-size:100% 100%;
    color:#FFFFFF;
}

#menuPage .ui-grid-a {
    height:154px;
}

#menuPage .ui-block-a, #menuPage .ui-block-b {
    width : 50%;
    height: 100%;
}

#menuPage .back_btn_off {
    background:url("img/menu_bk.png") no-repeat;
    background-size: 100% 100%;
    width:99%;
    height:99%;
}

#menuPage .back_btn_on {
    background:url("img/menu_sel_bk.png") no-repeat;
    background-size: 100% 100%;
    width:99%;
    height:99%;
}


#menuPage #menu_lbl {
    padding-top:10%;
}

#menuPage #search_menu {
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
}

#menuPage #search_menu_img {
    background:url("img/menu_search_bk.png") no-repeat;
    background-size:100% 100%;
    width:25%;
    height:25%;
    margin-top:35px;
    display: inline-block;
}

#menuPage #adver_menu {
    border-bottom: 2px solid #000000;
}

#menuPage #adver_menu_img {
    background:url("img/menu_adver_bk.png") no-repeat;
    background-size:100% 100%;
    width:25%;
    height:25%;
    margin-top:35px;
    display: inline-block;
}

#menuPage #points_menu {
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
}

#menuPage #points_menu_img {
    background:url("img/menu_points_bk.png") no-repeat;
    background-size:100% 100%;
    width:25%;
    height:25%;
    margin-top:35px;
    display: inline-block;
}

#menuPage #history_menu {
    border-bottom: 2px solid #000000;
}

#menuPage #history_menu_img {
    background:url("img/menu_history_bk.png") no-repeat;
    background-size:100% 100%;
    width:20%;
    height:25%;
    margin-top:35px;
    display: inline-block;
}

#menuPage #pos_menu {
    border-right: 2px solid #000000;
}

#menuPage #pos_menu_img {
    background:url("img/menu_pos_bk.png") no-repeat;
    background-size:100% 100%;
    width:20%;
    height:25%;
    margin-top:35px;
    display: inline-block;
}

#menuPage #setting_menu {
}

#menuPage #setting_menu_img {
    background:url("img/menu_setting_bk.png") no-repeat;
    background-size:100% 100%;
    width:25%;
    height:25%;
    margin-top:35px;
    display: inline-block;
}
/**********************Back menu button*****************/

.scroller {
    top:0px;
    left:0px;
    position: absolute;
    right: 0px;
    bottom:0px;
}

.ui-scroller-inner{    
    margin-top: 0px;
}

#top_border {
    position:absolute;
    width:100%;
    border-top:5px solid #000000;
    alignment:center;
    z-index:9999;
}

#back_page_btn.hover_off {
    background:url("img/back_page_btn_off.png") no-repeat;
    background-size:100% 100%;
    width:50px;
    height:30px;
    position:absolute;
    margin-left:42%;
    z-index:9999;
}

#back_page_btn.hover_on {
    background:url("img/back_page_btn_on.png") no-repeat;
    background-size:100% 100%;
    width:50px;
    height:30px;
    position:absolute;
    margin-left:42%;
    z-index:9999;
}

/**********************Search Page**********************/

#searchPage {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	bottom:0px;
	background:url("img/search_page_bk.png") no-repeat;
	background-size:100% 100%;
    color:#FFFFFF;
}

#searchPage .ui-content {
    position:absolute;
    top:0px;
    left:0px;
    bottom:60px;
    width:100%;
    z-index:9;
}

#searchPage #footer {
    position:absolute;
    bottom:0px;
    width:100%;
    height:80px;
    align:center;
}

#searchPage #search_btn.hover_off {
    background:url("img/search_btn_off.png") no-repeat;
    background-size:100% 100%;
    width:45%;
    height:40px;
    margin-top:20px;
}

#searchPage #search_btn.hover_on {
    background:url("img/search_btn_on.png") no-repeat;
    background-size:100% 100%;
    width:45%;
    height:40px;
    margin-top:20px;
}


#searchPage .search_item.hover_on {
    background:url("img/item_bk_on.png") no-repeat;
    background-size:100% 100%;
    width:100%;
    height:50px;
}

#searchPage .search_item.hover_off {
    background:url("img/item_bk_off.png") no-repeat;
    background-size:100% 100%;
    width:100%;
    height:50px;
}

#searchPage .search_item label {
    font-size:16px;
    padding:5%;
    width:70%;
    height:15px;
    text-align:left;
    float:left;
}

#searchPage .search_item.hover_on label {
    color:#FFFFFF;
    border-right:1px solid #27687b;
}

#searchPage .search_item.hover_off label {
    color:#27607d;
    border-right:1px solid #dadada;
}

#searchPage #open_flag_box.hover_on {
    background:url("img/arrow_bottom.png") no-repeat;
    background-size:80% 100%;
    background-size: 50% 40%;
    background-position:center center;
    display: inline-block;
    border-left: 1px solid #4F90A3;
    float: left;
    height: 100%;
    width: 19%;
}

#searchPage #open_flag_box.hover_off {
    background:url("img/arrow_right.png") no-repeat;
    background-size:80% 100%;
    background-size: 30% 60%;
    background-position:center center;
    display: inline-block;
    border-left: 1px solid #FFFFFF;
    float: left;
    height: 100%;
    width: 19%;
}

/***** op kernwoord *******/
#searchPage .search_content {
    background-color:#F2F2F2;
    color:#7f7f7f;
    width:100%;
}

#searchPage label {
    border:none;
    background:none;

}

#searchPage input {
    color:#7F7F7F;
}

#searchPage .ui-corner-all {
    border-radius:5px;
}

#searchPage .ui-btn-corner-all {
    border-radius:20px;
}

#searchPage .ui-checkbox .ui-btn-text {
    color: #7F7F7F;
    font-size: 16px;
    font-weight: normal;
}

#searchPage .ui-btn-inner {
    font-size:15px;
}

#searchPage #txtKernwoord {
    height:50px;
    color: #7F7F7F;
    font-size: 15px;
}

/**********************Advertiserment List Page**********************/

#adverListPage {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	bottom:0px;
	background:url("img/search_page_bk.png") no-repeat;
	background-size:100% 100%;
    color:#FFFFFF;
}

#adverListPage .scroller {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 45px;
}

#adverListPage .ui-content {
    position:absolute;
    top:0px;
    bottom:50px;
    width:100%;
}

#adverListPage #adver_lists {
    width:90%;
    margin-left:5%;
}

#adverListPage #adver_lists #adver_item_box {
    width:98%;
    height:150px;
    border:2px solid #183544;
    border-radius:10px;
    margin-top:20px;
    background:#454545;
}

#adverListPage #adver_lists #adver_item_box #adver_img_box {
    width:75%;
    height:100%;
    float:left;
}

#adverListPage #adver_lists #adver_item_box #adver_img_box img {
    width:100%;
    height:100%;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
}

#adverListPage #adver_lists #adver_item_box #adver_img_box #adver_title {
    background:#000000;
    background-size:100% 100%;
    width:100%;
    height:34%;
    top:-36%;
    position:relative;
    opacity:0.5;
    text-align:center;
    color:#FFFFFF;
    border-bottom-left-radius:10px;
}

#adverListPage #adver_lists #adver_item_box #adver_img_box #adver_title label {
    display: inline-block;
    margin-top: 15px;
    color:#FFFFFF;
}

#adverListPage #adver_lists #adver_info_box {
    width:25%;
    height:101%;
    background:url("img/adver_price_box.png") no-repeat;
    background-size:100% 100%;
    float:right;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#adverListPage #adver_lists #adver_info_box #adver_point_box {
    width:100%;
    height:50%;
}

#adverListPage #adver_lists #adver_info_box #adver_point_box #adver_point_mark {
    background:url("img/adver_point_mark.png") no-repeat;
    background-size:100% 100%;
    float: right;
    height: 55%;
    width: 65%;
}

#adverListPage #adver_lists #adver_info_box #adver_point_box label{
    color: #5ABCEF;
    font-size: 18px;
    position: relative;
    top: 30px;
    left:-15px;
}

#adverListPage #adver_lists #adver_info_box #adver_price_mark {
    background:url("img/adver_price.png") no-repeat;
    background-size:100% 100%;
    width:100%;
    height:20%;
}

#adverListPage #adver_lists #adver_info_box #adver_price_box {
    font-size:18px;
    color:#FFFFFF;
    margin-top: 10px;
}

#adverListPage #footer {
    background:url("img/adver_bottom_bk.png") no-repeat;
    background-size:100% 100%;
    width:100%;
    height:50px;
    position:absolute;
    bottom:0px;
}

#adverListPage #footer #search_back_btn {
    background:url("img/adver_back_btn.png") no-repeat;
    background-size:100% 100%;
    width:30px;
    height:30px;
    float:right;
    margin-top:10px;
    margin-right:30px;
}


/**********************Advertiserment Detail Page**********************/

#adverDetailPage {
    background:#EEE;
}

#adverDetailPage #detail_content{
    width:100%;
    height:395px;
    overflow:hidden;
}

#adverDetailPage #adver_gallery_box {
    width:320px;
    height:200px;
    overflow: hidden;
}

#adverDetailPage #gallery_div {
    width:960px;
    height:200px;
    float:left;
    display:inline;
    
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    
    /*apply a transfor to kick in the hardware acceleration.  Without this, the first time we add the transform you get odd rendering of the divs (half missing) */
    -webkit-transform: translate3d(0px,0px,0px); 
}

#adverDetailPage .gallery_item {
    float:left;
    width:320px;
    height:200px;
    
    -webkit-transform: translate3d(0px,0px,0px); 
}

#adverDetailPage #main_adver {
    background:url("img/adver_detail_slide_img.png") no-repeat;
    background-size:100% 100%;
}

#adverDetailPage #add_adver_1 {
    background:url("img/adver_img_1.jpg") no-repeat;
    background-size:100% 100%;
}

#adverDetailPage #add_adver_2 {
    background:url("img/adver_img_2.jpg") no-repeat;
    background-size:100% 100%;
}

#adverDetailPage #gallery_ctrl_panel {
    background:url("img/adver_detail_slide_line.png") no-repeat;
    background-size:100% 100%;
    height:5px;
    width:100%;
}

#adverDetailPage #point_mark {
    background:url("img/adver_detail_point.png") no-repeat;
    background-size:100% 100%;
    height: 95px;
    margin-left: 10px;
    margin-top: -55px;
    position: absolute;
    width: 95px;
    z-index: 2;
    color:#FFF;
}

#adverDetailPage #lblPoint {
    font-size: 24px;
    font-weight: bold;
    margin-top: 37px;
    display:inline-block;
}

#adverDetailPage #bonus_point_mark {
    background:url("img/adver_detail_bonus_point.png") no-repeat;
    background-size:100% 100%;
    color: #FFFFFF;
    height: 70px;
    margin-left: 102px;
    margin-top: -40px;
    position: absolute;
    width: 70px;
    z-index: 3;
}

#adverDetailPage #lblBonusPoint {
    margin-top:26px;
    display:inline-block;
}

#adverDetailPage #first_ctrl {
    background:url("img/adver_detail_slide_active.png") no-repeat;
    background-size:100% 100%;
    width:20px;
    height:20px;
    color:#FFF;
    font-weight:bold;
    position:absolute;
    margin-left:180px;
    margin-top:-10px;
    color: #FFF;
    font-size: 12px;
}

#adverDetailPage #next_arrow1 {
    background:url("img/adver_detail_slide_arrow.png") no-repeat;
    background-size:100% 100%;
    height: 10px;
    margin-left: 200px;
    margin-top: -4px;
    position: absolute;
    width: 30px;
    position:absolute;
    
}

#adverDetailPage #second_ctrl {
    background:url("img/adver_detail_slide_dis_active.png") no-repeat;
    background-size:100% 100%;
    width:20px;
    height:20px;
    font-weight:bold;
    position:absolute;
    margin-left:230px;
    margin-top:-10px;
    color: #999999;
    font-size: 12px;
}

#adverDetailPage #next_arrow2 {
    background:url("img/adver_detail_slide_arrow.png") no-repeat;
    background-size:100% 100%;
    height: 10px;
    margin-left: 250px;
    margin-top: -4px;
    position: absolute;
    width: 30px;
    position:absolute;
    
}

#adverDetailPage #third_ctrl {
    background:url("img/adver_detail_slide_dis_active.png") no-repeat;
    background-size:100% 100%;
    width:20px;
    height:20px;
    font-weight:bold;
    position:absolute;
    margin-left:280px;
    margin-top:-10px;
    color: #999999;
    font-size: 12px;
}

#adverDetailPage #vote_box {
    margin-left:200px;
    margin-top:10px;
}

#adverDetailPage #vote_box {
    position:absolute;
    margin-left:200px;
    margin-top:15px;
}

#adverDetailPage #fb_btn {
    background:url("img/fb_btn.png") no-repeat;
    background-size:100% 100%;
    width:20px;
    height:20px;
    float:left;
}

#adverDetailPage #tw_btn {
    background:url("img/tw_btn.png") no-repeat;
    background-size:100% 100%;
    width:20px;
    height:20px;
    float:left;
    margin-left:15px;
}

#adverDetailPage #favor_btn {
    background:url("img/favor.png") no-repeat;
    background-size:100% 100%;
    width:20px;
    height:20px;
    float:left;
    margin-left:15px;
}

#adverDetailPage #adver_detail_box {
    margin-left:25px;
    margin-right:10px;
    margin-top:50px;
    font-size:12px;
    color:#2a2a2a;
}

#adverDetailPage #product_title {
    color:#286483;
    font-size:18px;
    font-weight: bold;
}

#adverDetailPage #product_pos {
    background:url("img/adver_detail_addr_mark.png") no-repeat;
    background-size:10px 100%;
    width:100%
    height:20px;
    padding-left:15px;
    margin-top:5px;
}

#adverDetailPage #product_detail {
    width:100%;
    overflow:hidden;
    margin-top:10px;
    margin-bottom:5px;
}

#adverDetailPage #adver_detail_bottom {
    position:absolute;
    bottom:0px;
    height:30px;
    width:100%;
    padding-top:20px;
    padding-bottom:20px;
    background:#245B78;
    background-size:100% 100%;
    opacity:0.9;
}

#adverDetailPage #origin_price {
    margin-left:10px;
    color:#112a3e;
    margin-top:5px;
    position:absolute;
}

#adverDetailPage #strike {
    background:url("img/adver_detail_footer_line.png") no-repeat;
    background-size:100% 100%;
    height: 15px;
    margin-left: 10px;
    width: 60px;
    display:inline-block;
    margin-top:5px;
    position:absolute;
}

#adverDetailPage #discount_price {
    margin-left:75px;
    font-size:24px;
    color:#FFF;
    position:absolute;

}

#adverDetailPage #activate_btn {
    background:url("img/adver_detail_footer_slide_normal_btn.png") no-repeat;
    background-size:100% 100%;
    border: 3px solid #133648;
    border-radius: 10px 10px 10px 10px;
    height: 30px;
    margin-left: 200px;
    position: absolute;
    top: 15px;
    width: 105px;
}

#adverDetailPage #adver_active_bar {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #245B78;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 100% 100%;
    bottom: 0;
    height: 70px;
    opacity: 0.9;
    position: absolute;
    width: 100%;
}

#adverDetailPage #adver_detail_slider {
    background: none repeat scroll 0 0 #153549;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    height: 45px;
    margin-left: 15px;
    margin-top:15px;
    width: 290px;
    overflow:hidden;
}

#adverDetailPage #adver_sleep_bg {
    color:#FFF;
    font-size:14px;
    width:120px;
    height:30px;
    padding-top:15px;
    padding-left:50px;
    float:left;
}

#adverDetailPage #adver_detail_slider_btn {
    background:url("img/adver_detail_footer_slide_btn.png") no-repeat;
    background-size:105px 100%;
    border: 3px solid #133648;
    border-radius: 10px 10px 10px 10px;
    height: 35px;
    margin-top: 2px;
    width: 260px;
    display:inline-block;
    float:left;
    background-color:#153549;
}

/******** QrCode Image *********/

#adverDetailPage #qrcode_page {
    position:absolute;
    top:0px;
    width:100%;
    height:100%;
    z-index:4;
}

#adverDetailPage #gray_div {
    position:absolute;
    top:0px;
    width:100%;
    height:100%;
    background-color:#000;
    opacity:0.5;
}

#adverDetailPage #qrcode_box {
    position:absolute;
    margin-top:100px;
    margin-left:60px;
    width:200px;
    height:200px;
}

#adverDetailPage #qrcode_label {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("img/search_page_bk.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #FFFFFF;
    font-size: 14px;
    height: 25px;
    padding-top: 15px;
    width: 100%;
}

#adverDetailPage #deactive_btn {
    background:url("img/adver_back_btn.png") no-repeat;
    background-size:100% 100%;
    width:30px;
    height:30px;
    margin-left:5px;
    margin-top:-10px;
    float:left;
}

#adverDetailPage #qrcode_div {
    background-color:#FFF;
    height:150px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
}

#adverDetailPage #active_qrcode {
    margin-top:20px;
    width:100px;
    height:100px;
}




/**********************Verify Code Page**********************/

#verifyCodePage {
    background:url("img/search_page_bk.png") no-repeat;
    background-size:100% 100%;
    height:100%;
    width:100%;
}

#verifyCodePage #verify_lbl1 {
    color: #FFFFFF;
    font-size: 21px;
    font-weight: bold;
    margin-top: 35px;
}

#verifyCodePage #verify_lbl2 {
    color: #FFFFFF;
    font-weight: lighter;
    margin-top: 10px;
}

#verifyCodePage #verify_lbl3 {
    color:#FFF;
    font-size:8px;
    margin-top:10px;
}

#verifyCodePage #barcode_box {
    color:#FFF;
    margin-top:5px;
}

#verifyCodePage #barcode_box #barcode1 {
    background: url("img/verify_input_bk.png") repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 3px 3px 3px 3px;
    float: left;
    margin-right: 10px;
    margin-left:20px;
    width: 80px;
    color:#FFF;
}

#verifyCodePage #barcode_box #barcode2 {
    background: url("img/verify_input_bk.png") repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 3px 3px 3px 3px;
    float: left;
    margin-right: 10px;
    width: 80px;
    color:#FFF;
}

#verifyCodePage #barcode_box #barcode3 {
    background: url("img/verify_input_bk.png") repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 3px 3px 3px 3px;
    float: left;
    margin-right: 10px;
    width: 100px;
    color:#FFF;
}

#verifyCodePage #verify_btn_box {
    width:100%;
    margin-top:100px;
}

#verifyCodePage #verify_btn_box #verify_code_btn{
    color: #245673;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    padding-top: 10px;
    width: 240px;
    background:url("img/verify_barcode_bk.png") no-repeat;
    background-size:100% 100%;
    border: 5px solid #033E47;
}

#verifyCodePage #verify_btn_box #verify_qrcode_btn{
    color: #245673;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    padding-top: 10px;
    width: 240px;
    background:url("img/verify_qrcode_bk.png") no-repeat;
    background-size:100% 100%;
    border: 5px solid #033E47;
}




















