
/************ common style **************/
body > * {
    padding:0;
    margin:0;
    font-size:12px;
}

.ui-content {
    padding : 0px;
}

.ui-shadow {
    box-shadow : none;
}

#header_box {
    background: #DB6D14;
    height: 60px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    text-align : center;
    color : white;
    font-size : 24px;
    line-height : 60px;
}

#header_box #home_btn {
    background: url("../img/house.png") no-repeat;
    background-size: 25px 25px;
    background-position: center;
    width: 25px;
    height: 25px;
    margin-top: 30px;
    margin-left: 10px;
    float: left;
}

#header_box #history_btn {
    background-image: url("../img/history_btn.png");
    background-repeat : no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 30px;
    left: 10px;
    top: 15px;
    width: 70px;
    background-color: #b94901;
    position: absolute;
}

#header_box #setting_btn {
    background-image: url("../img/setting_btn.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 30px;
    right: 10px;
    top: 15px;
    width: 70px;
    background-color: #b94901;
    position: absolute;
}

#header_box #scan_btn {
    background-image: url("../img/scan_btn.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: none;
    height: 60px;
    margin-top: 0;
    display : inline-block;
    width: 80px;
}

#header_box #back_btn {
    background: url("../img/back_btn.png") no-repeat;
    background-size: 25px 27px;
    background-position: center;
    width: 25px;
    height: 25px;
    margin-top: 15px;
    margin-left: 10px;
    float: left;
}

#header_box #logout_btn {
    background: url("../img/logout.png") no-repeat;
    background-size: 25px 27px;
    background-position: center;
    width: 25px;
    height: 27px;
    margin-top: 30px;
    margin-right: 10px;
    float: right;
}

#footer_box {
    position:absolute;
    left:0px;
    bottom:0px;
    width:100%;
    height:56px;
    line-height: 56px;
    background: #db6d14;
    border: 1px solid #073C6E;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 1px #444444;
}

.ui-corner-all {

}

.scroller {
    top:70px;
    left:0px;
    position: absolute;
    right: 0px;
    bottom:68px;
}

.ui-scroller-inner{    
    margin-top: 0px;
}


.button.deactive {
    background:#c9d0d4;
    line-height: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    text-shadow:none;
}


.button.active {
    background:#2ab3ce;
    line-height: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color : white;
    text-align: center;
    text-shadow:none;
}


/************ Login Page **************/
#loginPage {
    background:url("../img/background.png") no-repeat;
    background-size: 100% 100%;
    padding:0;
    margin:0;
    position: fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}

#loginPage #content {
    margin:5px;
}

#loginPage label {
    font-size: 18px;
    font-weight: bold; 
}

#loginPage .scroller {
    top:70px;
    left:0px;
    position: absolute;
    right: 0px;
    bottom:0px;
}

#loginPage .button {
    float : left;
    width : 40%;
    margin-left : 7%;
}

#loginPage #fb_button {
    width : 100%;
    height : 55px;
    line-height : 55px;
    border : 1px solid black;
    font-size : 19px;
    color : white;
    text-align :center;
}

#loginPage #fb_button.deactive {
    background: #7db9e8; /* Old browsers */
    background: -moz-linear-gradient(top, #7db9e8 0%, #3c6797 50%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(50%,#3c6797), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7db9e8 0%,#3c6797 50%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7db9e8 0%,#3c6797 50%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7db9e8 0%,#3c6797 50%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom, #7db9e8 0%,#3c6797 50%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

#loginPage #fb_button.active {
    background : #4a4a4a;
}

#loginPage #fb_button span {
    background-image: url("../img/fb_logo.png");
    background-position: 50% 10px;
    background-repeat: no-repeat;
    background-size: 40% 100%;
    border-right: 1px solid #000000;
    display: inline-block;
    height: 55px;
    width: 55px;
    float : left;
}

#loginPage #email_button {
    margin-top : 10px;
    width : 100%;
    height : 55px;
    line-height : 55px;
    border : 1px solid black;
    font-size : 19px;
    color : white;
    text-align :center;
}

#loginPage #email_button.deactive {
    background: #90ceb1; /* Old browsers */
    background: -moz-linear-gradient(top, #90ceb1 0%, #32a777 50%, #90ceb1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90ceb1), color-stop(50%,#32a777), color-stop(100%,#90ceb1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #90ceb1 0%,#32a777 50%,#90ceb1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #90ceb1 0%,#32a777 50%,#90ceb1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #90ceb1 0%,#32a777 50%,#90ceb1 100%); /* IE10+ */
    background: linear-gradient(to bottom, #90ceb1 0%,#32a777 50%,#90ceb1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90ceb1', endColorstr='#90ceb1',GradientType=0 ); /* IE6-9 */
}

#loginPage #email_button.active {
    background : #4a4a4a;
}

#loginPage #email_button span {
    background-image: url("../img/email_logo.png");
    background-position: 54% 10px;
    background-repeat: no-repeat;
    background-size: 50% 67%;
    border-right: 1px solid #000000;
    display: inline-block;
    height: 55px;
    width: 55px;
    float : left;
}


/************ Register Page **************/
#registerPage {
    background:url("../img/background.png") no-repeat;
    background-size: 100% 100%;
    padding:0;
    margin:0;
    position: fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}

#registerPage #content {
    margin:5px;
}

#registerPage label {
    font-size: 18px;
    font-weight: bold; 
}

#registerPage .scroller {
    top:0px;
    left:0px;
    position: absolute;
    right: 0px;
    bottom:56px;
}

#registerPage .button {
    float : left;
    width : 40%;
    margin-left : 7%;
}

#registerPage div.ui-slider-switch {
    width : 7.8em;
}

/************ Home Page **************/
#homePage {
    background:url("../img/background.png") no-repeat;
    background-size: 100% 100%;
    padding:0;
    margin:0;
    position: fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}

#homePage #content {
    margin:5px;
}

#homePage label {
    font-size: 18px;
    font-weight: bold; 
}

#homePage .scroller {
    top:60px;
    left:0px;
    position: absolute;
    right: 0px;
    bottom:0px;
}

#homePage #logo_box {
    width : 205px;
    height : 65px;
    margin-top : 10px;
    margin-left : 10px;
    background-image : url("../img/property.png");
    background-repeat: no-repeat;
    background-size : 100% 100%;
    display : inline-block;
}

#homePage .product_box {
    background : url("../img/panel.png") no-repeat;
    background-size : 100% 100%;
    margin : 15px 1%;
    width : 98%;
    height : 100px;
    border-radius: 5px 5px 5px 5px;
}

#homePage #number_box {
    background : url("../img/number.png") no-repeat;
    background-size : 65px 100%;
    background-position : center;
    float: left;
    font-size: 56px;
    height: 80px;
    line-height: 80px;
    margin-top: 10px;
    text-align: center;
    width: 25%;
    color : white;
}

#homePage #mark_box {
    width : 75%;
    height : 80px;
    margin-top:10px;
    font-size : 1.2em;
    color : white;
    float : right;
}

#homePage #stamp {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 25px;
    margin-top: 8px;
    margin-left: 3px;
    float: left;
}

#homePage #stamp.active {
    background-image : url("../img/stamp.png");
}

#homePage #stamp.deactive {
    background-image : url("../img/destamp.png");
}

#homePage .reward_btn {
    background : url("../img/reward_code.png") no-repeat;
    width : 100%;
    height: 100%;
    background-size : 175px 130px;
    background-position : center;
}


/************ Reward Code Page **************/
#rewardPage {
    background:url("../img/background.png") no-repeat;
    background-size: 100% 100%;
    padding:0;
    margin:0;
    position: fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}


#rewardPage #content {
    margin:5px;
}

#rewardPage label {
    font-size: 18px;
    font-weight: bold; 
}

#rewardPage .scroller {
    top:60px;
    left:10px;
    position: absolute;
    right: 10px;
    bottom:0px;
}

#rewardPage #logo_box {
    width : 205px;
    height : 65px;
    margin-top : 10px;
    margin-left : 10px;
    background-image : url("../img/property.png");
    background-repeat: no-repeat;
    background-size : 100% 100%;
    display : inline-block;
}

#rewardPage #code_box {
    width : 200px;
    height : 200px;
    border : 1px solid black;
    background : white;
    margin-top : 20px;
}

#rewardPage #code_box img {
    width : 100%;
    height : 100%;
}


/************ History Page **************/
#historyPage {
    background:url("../img/background.png") no-repeat;
    background-size: 100% 100%;
    padding:0;
    margin:0;
    position: fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}

#historyPage #content {
    margin:5px;
}

#historyPage label {
    font-size: 18px;
    font-weight: bold; 
}

#historyPage .scroller {
    top:60px;
    left:10px;
    position: absolute;
    right: 10px;
    bottom:0px;
}


/************ Setting Page **************/
#settingPage {
    background:url("../img/background.png") no-repeat;
    background-size: 100% 100%;
    padding:0;
    margin:0;
    position: fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}

#settingPage #content {
    margin:5px;
}

#settingPage label {
    font-size: 18px;
    font-weight: bold; 
}

#settingPage .scroller {
    top:60px;
    left:10px;
    position: absolute;
    right: 10px;
    bottom:0px;
}

#settingPage .itemRow {
    background : #5990BE;
    margin : 5px;
    padding : 5px;

}

#settingPage .itemLabel {
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    color : black;
    text-shadow : none;
}

#settingPage .itemValue {
    min-height: 20px;
    word-wrap: break-word;
    color: black;
    padding : 5px;
    display: block;
}


